/* bg color of example #1c1c1c */
/* --body-bg-color: #d3e3fd; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --body-bg-color: #1c1c1c;
    --calculator-bg-color:#000000;
    --digit-bg-color:#333333;
    --special-function-bg-color:#a5a5a5;
    --digit-operation-btn-text-color:#ffffff;
    --operation-equals-btn-bg-color: #fe9f06;
    --digit-hover-bg-color: #737373;
    --operation-equals-btn-hover-bg-color: #fcc78d;
    --special-function-hover-bg-color:#d9d9d9;
}

html{
    font-family: Helvetica;
    text-align: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--body-bg-color);
}

.calculator{
    width: 350px;
    height: 598px;
    border-radius: 40px;
    background-color: var(--calculator-bg-color);
    display: flex;
    flex-flow: column;
    overflow: hidden; 
}

.display{
    flex: 1 1 20%;
    /* background-color:coral; */
    padding-right:36px;
    padding: 0 36px 0 20px;
}

.display-text{
    text-align: right;
    top: 90px;
    position:relative;
    font-size: 64px;
    color: var(--digit-operation-btn-text-color);
}

.input{
    flex: 1 1 70%;
    /* background-color:darkseagreen; */
    display: flex;
    flex-flow: row wrap;
    gap:10px;
    padding:24px 16px;
}


.calculator-button{
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--digit-operation-btn-text-color);
    flex: 1 1 20%;
    font-size: 28px;
}

.digit:hover, #decimal:hover{
    background-color: var(--digit-hover-bg-color);
}

.operator:hover, #equals:hover{
    background-color: var(--operation-equals-btn-hover-bg-color);
}


.digit, #decimal{
    background-color: var(--digit-bg-color);
    color: var(--digit-operation-btn-text-color);
}

.operator, #equals{
    background-color: var(--operation-equals-btn-bg-color);
    color:var(--digit-operation-btn-text-color);
}

.special-function{
    background-color: var(--special-function-bg-color);
}

.special-function:hover{
    background-color: var(--special-function-hover-bg-color);
}
#fat{
    border-radius: 36px; 
    flex: 0 1 154px;
}

.push-right{
    margin-right:80px
}

@keyframes dark-grey-button-clicked{
    0%{
        background-color: var(--digit-hover-bg-color);
    }
    100%{
        background-color: var(--digit-bg-color);
    }
}

.digit.mouseout,#decimal.mouseout{
    animation: dark-grey-button-clicked 1s;
}
/* 
.calculator-button:active{
    animation: dark-grey-button-clicked 2s;
} */